.btn-cta {
  background: linear-gradient(90deg, #2e3192, #f97900);
  color: white !important;
  padding: 7px 10px;
  border-radius: 20px;
  border: none;
  &:hover {
    opacity: .8;
  }
}

.btn-cta-lg {
  background: linear-gradient(90deg, #2e3192, #f97900);
  color: white !important;
  padding: 20px 30px;
  border-radius: 50px;
  &:hover {
    opacity: .8;
  }
}

.btn-readmore {
  background: #6e3877;
  color: white !important;
  padding: 7px 10px;
  border-radius: 20px;
  font-size: 15px;
  &:hover {
    opacity: .8;
  }
}
