<div class="footer">
  <div class="footer-image">
    <img src="images/karen_logos_white_transparent-30.png" alt="">
  </div>
  <div class="social-media-language">
    <a href="#"><img src="images/social-media-05.png" alt="logo"></a>
    <a href="#"><img src="images/social-media-06.png" alt="logo"></a>
    <a href="#"><img src="images/social-media-07.png" alt="logo"></a>
    <a href="#"><img src="images/social-media-08.png" alt="logo" id="flag"></a>
  </div>
</div>
<div class="copywright">
  <p>&copy;<%= Time.new.year %> Karen Koike Coaching. All Rights Reserved.</p>
</div>
