<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/karen-koike-logo-03.png" alt="logo" class="hidden-xs">
    <img src="images/karen-koike-logo-04.png" alt="logo" class="hidden-sm hidden-md hidden-lg hidden-xl">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Home</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">About</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link btn-cta">Book a Session</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>
    <div class="social-media-language">
      <a href="#"><img src="images/social-media-05.png" alt="logo"></a>
      <a href="#"><img src="images/social-media-06.png" alt="logo"></a>
      <a href="#"><img src="images/social-media-07.png" alt="logo"></a>
      <a href="#"><img src="images/social-media-08.png" alt="logo" id="flag"></a>
    </div>

  </div>


  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Book a Session</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
