<div id="home">
  <div class="home-content">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(27,20,100,0.6) 0%, rgba(242,120,0,0.4) 50%), url('images/potential.jpg');">
      <div class="banner-content">
        <h2>unleashing your incredible potential and happiness through coaching and hypnotherapy</h2>
      </div>
    </div>
  </div>
</div>
<div class="program-explanation">
  <h3>how i can help</h3>
  <p>I provide coaching and hypnotherapy, two unique and effective methods, to help you be the best person you can be. <br>Let’s take a look at these services in more detail: </p>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="program-cards">
        <div class="image-name">
          <img src="images/programs-09.png" alt="coaching">
          <h4>coaching</h4>
        </div>
        <div class="description">
          <div class="what-is-it">
            <h6>what is it?</h6>
            <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit. Ut nec sapien turpis. Mauris ultrices velit</p>
          </div>
          <div class="who-is-it-for">
            <h6>what is it?</h6>
            <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit. Ut nec sapien turpis. Mauris ultrices velit</p>
          </div>
          <div class="benefits">
            <h6>what is it?</h6>
            <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit. Ut nec sapien turpis. Mauris ultrices velit</p>
            <div class="call-to-action">
              <a href="#" class="navbar-wagon-item navbar-wagon-link btn-cta">Book a Session</a><br>
              <a href="#" class="link-card">or read more details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="program-cards">
        <div class="image-name">
          <img src="images/programs-10.png" alt="coaching">
          <h4>hypnosis</h4>
        </div>
        <div class="description">
          <div class="what-is-it">
            <h6>what is it?</h6>
            <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit. Ut nec sapien turpis. Mauris ultrices velit</p>
          </div>
          <div class="who-is-it-for">
            <h6>what is it?</h6>
            <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit. Ut nec sapien turpis. Mauris ultrices velit</p>
          </div>
          <div class="benefits">
            <h6>what is it?</h6>
            <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit. Ut nec sapien turpis. Mauris ultrices velit</p>
            <div class="call-to-action">
              <a href="#" class="navbar-wagon-item navbar-wagon-link btn-cta">Book a Session</a><br>
              <a href="" class="link-card">or read more details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
